/* font-family: "Roboto",
sans-serif;
font-family: "Raleway",
sans-serif; */

ul,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* #region header */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;

}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;

}

.logo-studio {
    color: #2e2f42;
}

.header-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

}

.nav-link:hover, 
.nav-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* #endregion header */

/* #region hero */

.main-hero {
    background-color: #2e2f42;
    padding: 188px 0;

}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion hero */

/* #region section one */

.section-advantages {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list-item {
    width: calc((100% - 72px) / 4);
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section one */

/* #region section two */

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item-div {
    padding: 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* #endregion section two */

/* #region section three */

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);

}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion section three */

/* #region footer */

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/* #endregion footer */